<!DOCTYPE html>
<html>

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <meta charset="UTF-8">
  <title>首頁</title>
</head>

<body>

  <div class="p-3 mb-2 bg-warning text-dark">
    <p class="fs-1">
    <div class="mx-auto" style="width: 400px;">
      <h1 class="display-3">火車時刻表</h1>
    </div>
    </p>
  </div>
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="../html/firstpage.html">首頁</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="../html/checi.html">火車查詢</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/page4.html">外部連結</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../html/finalpage.html">關於我們</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- <div class="backg"></div> --><img src="https://images.chinatimes.com/newsphoto/2020-07-08/1024/20200708001988.jpg" class="downimg" height="700px">


  <div class="libu">
    <div class="col libutton">
      <a href="../html/checi.html">
        <button class="btn btn-secondary btn-lg">車次查詢</button>

      </a>
    </div>
    <div class="col libutton">
      <a href="../html/money.html">
        <button class="btn btn-secondary btn-lg">車票查詢</button>

      </a>
    </div>
    <div class="col libutton">
      <a href="../html/page4.html">
        <button class="btn btn-secondary btn-lg">外部連結</button>
      </a>
    </div>

    <div class="col libutton">
      <a href="../html/finalpage.html">
        <button class="btn btn-secondary btn-lg">關於我們</button>
      </a>
    </div>
  </div>


  <h2>0402臺鐵408次事故專區</h2>
  <img src="https://www.railway.gov.tw/tra-tip-web/tip/file/ffd1bb3e-5e6c-4c60-b1b3-efdda738a236" class="downimg">





</body>

</html>