<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
    <link rel="stylesheet" href="/static/css/button.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <title>價格查詢</title>
</head>

<body>
    <img src="https://cdn.bella.tw/files-20210830/63a091a3-6309-4cbb-a7db-80ca3cdb5c6d.jpg"
        class="round mx-auto d-block" width="1024" height="200">
    <div style="text-align:center;">
        <h1><b>價格查詢</b></h1>
    </div>
    <div class="input-wrapper">
        <div class="input">
            <input id="startStation" type="text" name="startStation" placeholder="車站查詢" class="sub" autocomplete="off">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle input-group" type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    城市
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <div id="station2">
                    </div>
                </ul>
            </div>
           
        </div>

    </div>
    <div id="station2son" class="tt"></div>
    <div class="inout">
        <input id="Station1" type="text" name="startStation" placeholder="出發站" class="sub inout-btn" >
        <input id="Station2" type="text" name="startStation" placeholder="終點站" class="sub inout-btn" >
        
    </div>
    <div class="search-btn">
        <button type="button" id="inputid" class="btn btn-primary" data-type="startStation">查詢</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">票種</th>
                <th scope="col">價錢</th>
            </tr>
        </thead>
        <tbody id="trinfo">
            <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>twitter</td>
            </tr> -->
        </tbody>
    </table>
</body>
<script src="/static/json/station.js"></script>
<script src="/static/json/findstation.js"></script>
<script src="/static/json/money.js"></script>
</html>