<!DOCTYPE html>
<html>

<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <title>外部連結</title>
</head>

<body>
  <div class="col">

    <!-- <div class="container-sm">
        <div class="container-md">
          <div class="container-lg">
            <div class="container-xl">
              <div class="container-xxl"> -->

    <div class="p-3 mb-2 bg-warning text-dark">
      <p class="fs-1">
      <div class="mx-auto" style="width: 400px;">
        <h1 class="display-3">外部連結</h1>
      </div>
      </p>
    </div>


    <a href="https://tip.railway.gov.tw/tra-tip-web/tip">(1)Taiwan Railway首頁</a><br>
    <a
      href="https://www.railway.gov.tw/tra-tip-web/adr/customized_info?I=BOdk%2BmvOPKw4nr9W8kfiZqgN%2Bif9LX%2B2JNc1p3BF9GSrH%2Fsqzxm%2BQMNKwXCqNfIn%2FSu8T80%3D&site_preference=normal">(2)武漢肺炎防疫專區</a><br>
    <a href="https://read01.com/zh-tw/0M2n7Kx.html#.YrLTD3ZBy3A">(3)搭火車需注意的問題</a><br>
    <a href="https://zh.m.wikipedia.org/zh-tw/%E9%90%B5%E8%B7%AF%E9%81%8B%E8%BC%B8">(4)火車歷史</a><br>
    <a
      href="https://www.railway.gov.tw/tra-tip-web/tip/tip00H/tipH21/query?ratraClass=8a8183195ca5257a015ca527a8930000&ratraSecondClass=0">(5)鐵道旅遊</a><br>
    <a href="https://www.railway.gov.tw/tra-tip-web/tip/tip004/tip421/dishes">(6)火車便當</a><br>
    <a href="https://www.youtube.com/watch?v=P2vtoQ7jPys">(7)羅大佑 Lo Da-Yu【火車】</a>

    <img src="https://cdn2.ettoday.net/images/1673/d1673099.jpg" class="downimg">

  </div>

  <!-- 
        </div>
      </div>
      </div>
      </div>
      </div> -->



</body>

</html>